<div class="container">
<form class="p-2">
    <div class="form-group">
      <label for="nameInput">Name</label>
      <input type="text" class="form-control" id="nameInput" readonly>
    </div>
    <div class="form-group">
      <label for="descriptionInput">Description</label>
      <input type="text" class="form-control" id="descriptionInput" readonly >
    </div>
    <div class="form-group">
        <label for="expiryInput">Expiry Date</label>
        <input type="number" class="form-control" id="expiryInput">
      </div>
      <div class="form-group">
        <label for="packageInput">Package</label>
        <input type="text" class="form-control" id="packageInput" >
      </div>
      <div class="form-group">
        <label for="unitsInput">Units Per Package</label>
        <input type="text" class="form-control" id="unitsInput">
      </div>
      <div class="form-group">
        <label for="subUnitsInput">Sub Units Per Package</label>
        <input type="text" class="form-control" id="subUnitsInput" >
      </div>
      <button type="button" class="btn btn-secondary btn-lg btn-block">SEND</button>
  </form>
</div>